In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.3'

In [7]:
ages = [12,34,56]

In [8]:
pd.Series(ages,dtype='float')

0    12.0
1    34.0
2    56.0
dtype: float64

In [9]:
list(pd.RangeIndex(start=1,stop=6,step=1))

[1, 2, 3, 4, 5]

In [10]:
Car_types = ['Sedan','Hatchback','Coupe','SUV']

In [11]:
Car_length = [4,3,5,4]

In [12]:
Car_specs=pd.Series(data=Car_length,index=Car_types,name='Car Description')

In [13]:
print(Car_specs)

Sedan        4
Hatchback    3
Coupe        5
SUV          4
Name: Car Description, dtype: int64

In [14]:
Car_dict = {'Sedan':4,'Hatchback':3,'Coupe':5,'SUV':4}
Car_dict

{'Sedan': 4, 'Hatchback': 3, 'Coupe': 5, 'SUV': 4}

In [15]:
Car_specs2=pd.Series(Car_dict)

In [16]:
Car_specs2

Sedan        4
Hatchback    3
Coupe        5
SUV          4
dtype: int64

In [17]:
Car_desc_list=list(zip(Car_types,Car_length))
Car_desc_dict=dict(zip(Car_types,Car_length))
Car_desc_list
Car_desc_dict

{'Sedan': 4, 'Hatchback': 3, 'Coupe': 5, 'SUV': 4}

In [18]:
Car_desc_list

[('Sedan', 4), ('Hatchback', 3), ('Coupe', 5), ('SUV', 4)]

In [19]:
pd.Series(Car_desc_dict)

Sedan        4
Hatchback    3
Coupe        5
SUV          4
dtype: int64

In [20]:
{Car_ty:Car_len for Car_ty,Car_len in zip(Car_types,Car_length)}

{'Sedan': 4, 'Hatchback': 3, 'Coupe': 5, 'SUV': 4}

In [21]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False)
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  __setstate__(self, object, /)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [22]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [23]:
pd.options.display.min_rows = 40

In [24]:
pd.Series(range(100))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
      ..
80    80
81    81
82    82
83    83
84    84
85    85
86    86
87    87
88    88
89    89
90    90
91    91
92    92
93    93
94    94
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [25]:
from string import ascii_lowercase

In [26]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [27]:
list(ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [28]:
letters = list(ascii_lowercase)

In [29]:
alphabet = pd.Series(letters)

In [30]:
alphabet

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [31]:
alphabet[3]

'd'

In [32]:
alphabet[:4]

0    a
1    b
2    c
3    d
dtype: object

In [33]:
alphabet[:-6]

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
dtype: object

In [34]:
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [35]:
from string import ascii_uppercase

In [36]:
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [37]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase),index=list(ascii_uppercase))

In [38]:
labeled_alphabet

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

In [39]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase),index=map(lambda x: 'label_' + x, list(ascii_uppercase)))

In [40]:
labeled_alphabet

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [41]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(function, iterable, /, *iterables)
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [42]:
labeled_alphabet['label_A':'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [43]:
labeled_alphabet.label_C

'c'

In [44]:
labeled_alphabet.loc['label_A':'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [45]:
Car_specs

Sedan        4
Hatchback    3
Coupe        5
SUV          4
Name: Car Description, dtype: int64

In [46]:
Car_specs.loc[[True,True,True,True]]

Sedan        4
Hatchback    3
Coupe        5
SUV          4
Name: Car Description, dtype: int64

In [47]:
Car_specs.loc[[True,True,False,True]]

Sedan        4
Hatchback    3
SUV          4
Name: Car Description, dtype: int64

In [48]:
labeled_alphabet.loc[[True for i in range(26)]]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [49]:
labeled_alphabet.loc[[True if i%2==0 else False for i in range(26)]]

label_A    a
label_C    c
label_E    e
label_G    g
label_I    i
label_K    k
label_M    m
label_O    o
label_Q    q
label_S    s
label_U    u
label_W    w
label_Y    y
dtype: object

In [50]:
result = []
for i in range(26):
    if i % 2 == 0:
        result.append(True)
    else:
        result.append(False)
        
labeled_alphabet.loc[result]

label_A    a
label_C    c
label_E    e
label_G    g
label_I    i
label_K    k
label_M    m
label_O    o
label_Q    q
label_S    s
label_U    u
label_W    w
label_Y    y
dtype: object

In [51]:
labeled_alphabet.iloc[1:3]

label_B    b
label_C    c
dtype: object

In [52]:
labeled_alphabet.iloc[[1,3,4]]

label_B    b
label_D    d
label_E    e
dtype: object

In [53]:
labeled_alphabet.iloc[0]

'a'

In [54]:
labeled_alphabet.loc['label_Q']

'q'

In [55]:
labeled_alphabet.loc[lambda x: 'label_Q']

'q'

In [56]:
labeled_alphabet.loc[lambda x: ['label_P','label_Q']]

label_P    p
label_Q    q
dtype: object

In [57]:
labeled_alphabet.loc[lambda x: [True for i in range(26)]]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [58]:
labeled_alphabet.loc[lambda x: [True for i in range(x.size)]]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [59]:
def every_fifth(x):
    return [True if i%5==0 else False for i in range(x.size)]

In [60]:
labeled_alphabet.iloc[every_fifth]

label_A    a
label_F    f
label_K    k
label_P    p
label_U    u
label_Z    z
dtype: object

In [61]:
labeled_alphabet.get('label_Q')

'q'

In [62]:
labeled_alphabet.get('label_QQ')

In [63]:
labeled_alphabet.get(8)

C:\Users\kpras\AppData\Local\Temp\ipykernel_17900\3625765164.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  labeled_alphabet.get(8)

'i'

In [64]:
squares = [i*i for i in range(100)]
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [65]:
pdsqaures=pd.Series(data = squares)
pdsqaures

0        0
1        1
2        4
3        9
4       16
5       25
6       36
7       49
8       64
9       81
10     100
11     121
12     144
13     169
14     196
15     225
16     256
17     289
18     324
19     361
      ...
80    6400
81    6561
82    6724
83    6889
84    7056
85    7225
86    7396
87    7569
88    7744
89    7921
90    8100
91    8281
92    8464
93    8649
94    8836
95    9025
96    9216
97    9409
98    9604
99    9801
Length: 100, dtype: int64

In [66]:
Lastthree = pdsqaures[-3:]

In [67]:
Last3 = pdsqaures.tail(3)

In [68]:
Lastthree.equals(Last3)

True

In [69]:
Lastthree == Last3

97    True
98    True
99    True
dtype: bool

In [70]:
pd.read_csv('https://andybek.com/pandas-drinks')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
5,Antigua & Barbuda,12.0,128.0,45.0,4.9
6,Argentina,193.0,25.0,221.0,8.3
7,Armenia,21.0,179.0,11.0,3.8
8,Australia,261.0,72.0,212.0,1.4
9,Austria,279.0,75.0,191.0,9.7
10,Azerbaijan,21.0,46.0,5.0,1.3
11,Bahamas,122.0,176.0,51.0,6.3
12,Bahrain,42.0,63.0,7.0,2.0
13,Bangladesh,NaN,NaN,NaN,NaN
14,Barbados,143.0,173.0,36.0,6.3
15,Belarus,142.0,373.0,42.0,14.4
16,Belgium,295.0,84.0,212.0,1.5
17,Belize,263.0,114.0,8.0,6.8
18,Benin,34.0,4.0,13.0,1.1
19,Bhutan,23.0,NaN,NaN,0.4
...,...,...,...,...,...
173,Tonga,36.0,21.0,5.0,1.1
174,Trinidad & Tobago,197.0,156.0,7.0,6.4
175,Tunisia,51.0,3.0,2.0,1.3
176,Turkey,51.0,22.0,7.0,1.4
177,Turkmenistan,19.0,71.0,32.0,2.2
178,Tuvalu,6.0,41.0,9.0,1.0
179,Uganda,45.0,9.0,NaN,8.3
180,Ukraine,26.0,237.0,45.0,8.9
181,United Arab Emirates,16.0,135.0,5.0,2.8
182,United Kingdom,219.0,126.0,195.0,1.4
183,Tanzania,36.0,6.0,1.0,5.7
184,USA,249.0,158.0,84.0,8.7
185,Uruguay,115.0,35.0,22.0,6.6
186,Uzbekistan,25.0,11.0,8.0,2.4
187,Vanuatu,21.0,18.0,11.0,0.9
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [71]:
pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'])

                  country  wine_servings
0             Afghanistan            NaN
1                 Albania           54.0
2                 Algeria           14.0
3                 Andorra          312.0
4                  Angola           45.0
5       Antigua & Barbuda           45.0
6               Argentina          221.0
7                 Armenia           11.0
8               Australia          212.0
9                 Austria          191.0
10             Azerbaijan            5.0
11                Bahamas           51.0
12                Bahrain            7.0
13             Bangladesh            NaN
14               Barbados           36.0
15                Belarus           42.0
16                Belgium          212.0
17                 Belize            8.0
18                  Benin           13.0
19                 Bhutan            NaN
..                    ...            ...
173                 Tonga            5.0
174     Trinidad & Tobago            7.0
175               Tunisia            2.0
176                Turkey            7.0
177          Turkmenistan           32.0
178                Tuvalu            9.0
179                Uganda            NaN
180               Ukraine           45.0
181  United Arab Emirates            5.0
182        United Kingdom          195.0
183              Tanzania            1.0
184                   USA           84.0
185               Uruguay           22.0
186            Uzbekistan            8.0
187               Vanuatu           11.0
188             Venezuela            3.0
189               Vietnam            1.0
190                 Yemen            NaN
191                Zambia            4.0
192              Zimbabwe            4.0

[193 rows x 2 columns]

In [72]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'],index_col='country')

In [73]:
alcohol

                      wine_servings
country
Afghanistan                     NaN
Albania                        54.0
Algeria                        14.0
Andorra                       312.0
Angola                         45.0
Antigua & Barbuda              45.0
Argentina                     221.0
Armenia                        11.0
Australia                     212.0
Austria                       191.0
Azerbaijan                      5.0
Bahamas                        51.0
Bahrain                         7.0
Bangladesh                      NaN
Barbados                       36.0
Belarus                        42.0
Belgium                       212.0
Belize                          8.0
Benin                          13.0
Bhutan                          NaN
...                             ...
Tonga                           5.0
Trinidad & Tobago               7.0
Tunisia                         2.0
Turkey                          7.0
Turkmenistan                   32.0
Tuvalu                          9.0
Uganda                          NaN
Ukraine                        45.0
United Arab Emirates            5.0
United Kingdom                195.0
Tanzania                        1.0
USA                            84.0
Uruguay                        22.0
Uzbekistan                      8.0
Vanuatu                        11.0
Venezuela                       3.0
Vietnam                         1.0
Yemen                           NaN
Zambia                          4.0
Zimbabwe                        4.0

[193 rows x 1 columns]

In [74]:
# alcohol = pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country','wine_servings'],index_col='country', squeeze=True)
alcohol = pd.read_csv('https://andybek.com/pandas-drinks',usecols=['country', 'wine_servings'],index_col='country').squeeze('columns')
alcohol

country
Afghanistan               NaN
Albania                  54.0
Algeria                  14.0
Andorra                 312.0
Angola                   45.0
Antigua & Barbuda        45.0
Argentina               221.0
Armenia                  11.0
Australia               212.0
Austria                 191.0
Azerbaijan                5.0
Bahamas                  51.0
Bahrain                   7.0
Bangladesh                NaN
Barbados                 36.0
Belarus                  42.0
Belgium                 212.0
Belize                    8.0
Benin                    13.0
Bhutan                    NaN
                        ...
Tonga                     5.0
Trinidad & Tobago         7.0
Tunisia                   2.0
Turkey                    7.0
Turkmenistan             32.0
Tuvalu                    9.0
Uganda                    NaN
Ukraine                  45.0
United Arab Emirates      5.0
United Kingdom          195.0
Tanzania                  1.0
USA                      84.0
Uruguay                  22.0
Uzbekistan                8.0
Vanuatu                  11.0
Venezuela                 3.0
Vietnam                   1.0
Yemen                     NaN
Zambia                    4.0
Zimbabwe                  4.0
Name: wine_servings, Length: 193, dtype: float64

In [75]:
alcohol.size

193

In [76]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [77]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [78]:
alcohol.values.size == alcohol.index.size

True

In [79]:
alcohol.shape

(193,)

In [80]:
alcohol.shape[0] == alcohol.size

True

In [81]:
len(alcohol)

193

In [82]:
alcohol.is_unique

False

In [83]:
alcohol.head().is_unique

True

In [84]:
alcohol.nunique

<bound method IndexOpsMixin.nunique of country
Afghanistan               NaN
Albania                  54.0
Algeria                  14.0
Andorra                 312.0
Angola                   45.0
Antigua & Barbuda        45.0
Argentina               221.0
Armenia                  11.0
Australia               212.0
Austria                 191.0
Azerbaijan                5.0
Bahamas                  51.0
Bahrain                   7.0
Bangladesh                NaN
Barbados                 36.0
Belarus                  42.0
Belgium                 212.0
Belize                    8.0
Benin                    13.0
Bhutan                    NaN
                        ...
Tonga                     5.0
Trinidad & Tobago         7.0
Tunisia                   2.0
Turkey                    7.0
Turkmenistan             32.0
Tuvalu                    9.0
Uganda                    NaN
Ukraine                  45.0
United Arab Emirates      5.0
United Kingdom          195.0
Tanzania                  1.0
USA                      84.0
Uruguay                  22.0
Uzbekistan                8.0
Vanuatu                  11.0
Venezuela                 3.0
Vietnam                   1.0
Yemen                     NaN
Zambia                    4.0
Zimbabwe                  4.0
Name: wine_servings, Length: 193, dtype: float64>

In [85]:
alcohol.nunique()

71

In [86]:
alcohol.nunique(dropna=False)

72

In [87]:
alcohol.count()

np.int64(162)

In [88]:
alcohol.hasnans

True

In [89]:
alcohol.isnull

<bound method Series.isnull of country
Afghanistan               NaN
Albania                  54.0
Algeria                  14.0
Andorra                 312.0
Angola                   45.0
Antigua & Barbuda        45.0
Argentina               221.0
Armenia                  11.0
Australia               212.0
Austria                 191.0
Azerbaijan                5.0
Bahamas                  51.0
Bahrain                   7.0
Bangladesh                NaN
Barbados                 36.0
Belarus                  42.0
Belgium                 212.0
Belize                    8.0
Benin                    13.0
Bhutan                    NaN
                        ...
Tonga                     5.0
Trinidad & Tobago         7.0
Tunisia                   2.0
Turkey                    7.0
Turkmenistan             32.0
Tuvalu                    9.0
Uganda                    NaN
Ukraine                  45.0
United Arab Emirates      5.0
United Kingdom          195.0
Tanzania                  1.0
USA                      84.0
Uruguay                  22.0
Uzbekistan                8.0
Vanuatu                  11.0
Venezuela                 3.0
Vietnam                   1.0
Yemen                     NaN
Zambia                    4.0
Zimbabwe                  4.0
Name: wine_servings, Length: 193, dtype: float64>

In [90]:
alcohol.isnull()

country
Afghanistan              True
Albania                 False
Algeria                 False
Andorra                 False
Angola                  False
Antigua & Barbuda       False
Argentina               False
Armenia                 False
Australia               False
Austria                 False
Azerbaijan              False
Bahamas                 False
Bahrain                 False
Bangladesh               True
Barbados                False
Belarus                 False
Belgium                 False
Belize                  False
Benin                   False
Bhutan                   True
                        ...
Tonga                   False
Trinidad & Tobago       False
Tunisia                 False
Turkey                  False
Turkmenistan            False
Tuvalu                  False
Uganda                   True
Ukraine                 False
United Arab Emirates    False
United Kingdom          False
Tanzania                False
USA                     False
Uruguay                 False
Uzbekistan              False
Vanuatu                 False
Venezuela               False
Vietnam                 False
Yemen                    True
Zambia                  False
Zimbabwe                False
Name: wine_servings, Length: 193, dtype: bool

In [91]:
alcohol.isnull().sum()

np.int64(31)

In [92]:
alcohol[alcohol.isnull()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [93]:
alcohol[alcohol.isnull()].index

Index(['Afghanistan', 'Bangladesh', 'Bhutan', 'Burundi', 'North Korea',
       'Eritrea', 'Ethiopia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Kuwait',
       'Lesotho', 'Libya', 'Malaysia', 'Maldives', 'Marshall Islands',
       'Mauritania', 'Monaco', 'Myanmar', 'Nepal', 'Pakistan', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Somalia', 'Sri Lanka', 'Sudan',
       'Tajikistan', 'Uganda', 'Yemen'],
      dtype='object', name='country')

In [94]:
list(alcohol[alcohol.isnull()].index)

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [95]:
len(list(alcohol[alcohol.isnull()].index))

31

In [96]:
sum([True, False, True])

2